backups/
crash-reports/
fancy_menus/
logs/
local/
mods/
resourcepacks/
saves/
screenshots/
XaeroWaypoints*/
XaeroWorldMap*/
usercache.json
usernamecache.json
patchouli_data.json
servers.dat
servers.dat_old
ESM/
WailaErrorOutput.txt
